#calc {
  max-width: 500px;
  margin: auto;
}

#screen {
  position: absolute;
  right: 30%;
}

#buttons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0.5rem;
  margin: auto;
  padding: 10%;
  position: absolute;
  bottom: 10%;
}

#buttons #equals {
  grid-column: span 4;
}

button {
  padding: 30px;
  font-size: 30px;
  user-select: none;
}
